3GBridgeSubmitter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="G3BridgeSubmitter"
		targetNamespace="http://www.edges-grid.eu/wsdl/3GBridge.wsdl"
		xmlns:tns="http://www.edges-grid.eu/wsdl/3GBridge.wsdl"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns="http://schemas.xmlsoap.org/wsdl/">

	<wsdl:documentation>
		This is the description of the 3G Bridge submitter interface.
	</wsdl:documentation>

	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
				targetNamespace="http://www.edges-grid.eu/wsdl/3GBridge.wsdl"
				elementFormDefault="unqualified"
				attributeFormDefault="unqualified">

			<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

			<!-- Job status codes -->
			<xsd:simpleType name="JobStatus">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="UNKNOWN"/><!-- enum const = 0 -->
					<xsd:enumeration value="INIT"/><!-- enum const = 1 -->
					<xsd:enumeration value="RUNNING"/><!-- enum const = 2 -->
					<xsd:enumeration value="FINISHED"/><!-- enum const = 3 -->
					<xsd:enumeration value="ERROR"/><!-- enum const = 4 -->
					<xsd:enumeration value="TEMPFAILED"/><!-- enum const = 5 -->
				</xsd:restriction>
			</xsd:simpleType>

			<!-- Description of an LFN specification -->
			<xsd:complexType name="LogicalFile">
				<xsd:sequence>
					<xsd:element name="logicalName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="URL" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="md5" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="size" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>

			<!-- Description of a job to submit -->
			<xsd:complexType name="Job">
				<xsd:sequence>
					<xsd:element name="alg" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="grid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="args" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="inputs" type="tns:LogicalFile" minOccurs="1" maxOccurs="unbounded"/>
					<xsd:element name="outputs" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
					<xsd:element name="env" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
					<xsd:element name="tag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="JobOutput">
				<xsd:sequence>
					<xsd:element name="output" type="tns:LogicalFile" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="JobIDList">
				<xsd:sequence>
					<xsd:element name="jobid" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="JobList">
				<xsd:sequence>
					<xsd:element name="job" type="tns:Job" minOccurs="1" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="StatusList">
				<xsd:sequence>
					<xsd:element name="status" type="tns:JobStatus" minOccurs="1" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="OutputList">
				<xsd:sequence>
					<xsd:element name="output" type="tns:JobOutput" minOccurs="1" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="GridDataList">
				<xsd:sequence>
					<xsd:element name="griddata" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="GridAlgList">
				<xsd:sequence>
					<xsd:element name="gridalgs" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="submitRequest" type="tns:JobList"/>
			<xsd:element name="submitResponse" type="tns:JobIDList"/>
			<xsd:element name="getStatusRequest" type="tns:JobIDList"/>
			<xsd:element name="getStatusResponse" type="tns:StatusList"/>
			<xsd:element name="deleteRequest" type="tns:JobIDList"/>
			<xsd:element name="getOutputRequest" type="tns:JobIDList"/>
			<xsd:element name="getOutputResponse" type="tns:OutputList"/>
			<xsd:element name="getFinishedRequest" type="xsd:string"/>
			<xsd:element name="getFinishedResponse" type="tns:JobIDList"/>
			<xsd:element name="getVersionResponse" type="xsd:string"/>
			<xsd:element name="getGridDataRequest" type="tns:JobIDList"/>
			<xsd:element name="getGridDataResponse" type="tns:GridDataList"/>
			<xsd:element name="getGridAlgRequest" type="xsd:string"/>
			<xsd:element name="getGridAlgResponse" type="tns:GridAlgList"/>
		</xsd:schema>
	</wsdl:types>

	<!-- Message types for "submit" -->
	<wsdl:message name="submitRequest">
		<wsdl:part name="jobs" element="tns:submitRequest"/>
	</wsdl:message>
	<wsdl:message name="submitResponse">
		<wsdl:part name="jobids" element="tns:submitResponse"/>
	</wsdl:message>

	<!-- Message elements for "getStatus" -->
	<wsdl:message name="getStatusRequest">
		<wsdl:part name="jobids" element="tns:getStatusRequest"/>
	</wsdl:message>
	<wsdl:message name="getStatusResponse">
		<wsdl:part name="statuses" element="tns:getStatusResponse"/>
	</wsdl:message>

	<!-- Message elements for "delete" -->
	<wsdl:message name="deleteRequest">
		<wsdl:part name="jobids" element="tns:deleteRequest"/>
	</wsdl:message>
	<wsdl:message name="deleteResponse">
	</wsdl:message>

	<!-- Message elements for "getOutput" -->
	<wsdl:message name="getOutputRequest">
		<wsdl:part name="jobids" element="tns:getOutputRequest"/>
	</wsdl:message>
	<wsdl:message name="getOutputResponse">
		<wsdl:part name="outputs" element="tns:getOutputResponse"/>
	</wsdl:message>

	<!-- Message elements for "getFinished" -->
	<wsdl:message name="getFinishedRequest">
		<wsdl:part name="grid" element="tns:getFinishedRequest"/>
	</wsdl:message>
	<wsdl:message name="getFinishedResponse">
		<wsdl:part name="jobids" element="tns:getFinishedResponse"/>
	</wsdl:message>

	<!-- Message elements for "getVersion" -->
	<wsdl:message name="getVersionRequest">
	</wsdl:message>
	<wsdl:message name="getVersionResponse">
		<wsdl:part name="version" element="tns:getVersionResponse"/>
	</wsdl:message>

	<!-- Message elements for "getGridData" -->
	<wsdl:message name="getGridDataRequest">
		<wsdl:part name="jobids" element="tns:getGridDataRequest"/>
	</wsdl:message>
	<wsdl:message name="getGridDataResponse">
		<wsdl:part name="griddatas" element="tns:getGridDataResponse"/>
	</wsdl:message>

	<!-- Message elements for "getGridAlg" -->
	<wsdl:message name="getGridAlgRequest">
		<wsdl:part name="grids" element="tns:getGridAlgRequest"/>
	</wsdl:message>
	<wsdl:message name="getGridAlgResponse">
		<wsdl:part name="gridalgs" element="tns:getGridAlgResponse"/>
	</wsdl:message>

	<wsdl:portType name="G3BridgeSubmitter">
		<wsdl:operation name="submit">
			<wsdl:documentation>Submit jobs to the bridge</wsdl:documentation>
			<wsdl:input message="tns:submitRequest"/>
			<wsdl:output message="tns:submitResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getStatus">
			<wsdl:documentation>Query the status of previously submitted jobs</wsdl:documentation>
			<wsdl:input message="tns:getStatusRequest"/>
			<wsdl:output message="tns:getStatusResponse"/>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:documentation>Cancel running jobs or delete the outputs of finished jobs</wsdl:documentation>
			<wsdl:input message="tns:deleteRequest"/>
			<wsdl:output message="tns:deleteResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getOutput">
			<wsdl:documentation>Get the output URLs for a job</wsdl:documentation>
			<wsdl:input message="tns:getOutputRequest"/>
			<wsdl:output message="tns:getOutputResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getFinished">
			<wsdl:documentation>Get the IDs of finished jobs</wsdl:documentation>
			<wsdl:input message="tns:getFinishedRequest"/>
			<wsdl:output message="tns:getFinishedResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getVersion">
			<wsdl:documentation>Query the server's version string</wsdl:documentation>
			<wsdl:input message="tns:getVersionRequest"/>
			<wsdl:output message="tns:getVersionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getGridData">
			<wsdl:documentation>Query the grid data of previously submitted jobs</wsdl:documentation>
			<wsdl:input message="tns:getGridDataRequest"/>
			<wsdl:output message="tns:getGridDataResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getGridAlgs">
			<wsdl:documentation>Query list of algorithms supported by a given grid</wsdl:documentation>
			<wsdl:input message="tns:getGridAlgRequest"/>
			<wsdl:output message="tns:getGridAlgResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="G3BridgeSubmitter" type="tns:G3BridgeSubmitter">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="submit">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getStatus">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOutput">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getFinished">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVersion">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getGridData">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getGridAlgs">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="G3BridgeSubmitter">
		<wsdl:documentation>3G Bridge submit service definition</wsdl:documentation>
		<wsdl:port name="G3BridgeSubmitter" binding="tns:G3BridgeSubmitter">
			<soap:address location="http://localhost:8091"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
