3GBridge.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="G3Bridge"
		targetNamespace="http://www.edges-grid.eu/wsdl/3GBridge.wsdl"
		xmlns:tns="http://www.edges-grid.eu/wsdl/3GBridge.wsdl"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns="http://schemas.xmlsoap.org/wsdl/">

	<documentation>
		This is the description of the 3G Bridge web service interface.
	</documentation>

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
				targetNamespace="http://www.edges-grid.eu/wsdl/3GBridge.wsdl"
				xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				xmlns:tns="http://www.edges-grid.eu/wsdl/3GBridge.wsdl"
				elementFormDefault="unqualified"
				attributeFormDefault="unqualified">

			<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

			<!-- Job status codes -->
			<simpleType name="JobStatus">
				<restriction base="xsd:string">
					<enumeration value="UNKNOWN"/><!-- enum const = 0 -->
					<enumeration value="INIT"/><!-- enum const = 1 -->
					<enumeration value="RUNNING"/><!-- enum const = 2 -->
					<enumeration value="FINISHED"/><!-- enum const = 3 -->
					<enumeration value="ERROR"/><!-- enum const = 4 -->
				</restriction>
			</simpleType>

			<!-- Description of an LFN specification -->
			<complexType name="LogicalFile">
				<sequence>
					<element name="logicalName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<element name="URL" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</complexType>

			<!-- Description of a job to submit -->
			<complexType name="Job">
				<sequence>
					<element name="alg" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<element name="grid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<element name="args" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<element name="inputs" type="tns:LogicalFile" minOccurs="1" maxOccurs="unbounded"/>
					<element name="outputs" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</complexType>

			<complexType name="JobOutput">
				<sequence>
					<element name="jobid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<element name="output" type="tns:LogicalFile" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</complexType>

			<complexType name="JobIDList">
				<sequence>
					<element name="jobid" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</complexType>

			<complexType name="JobList">
				<sequence>
					<element name="job" type="tns:Job" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</complexType>

			<complexType name="StatusList">
				<sequence>
					<element name="status" type="tns:JobStatus" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</complexType>

			<complexType name="OutputList">
				<sequence>
					<element name="output" type="tns:JobOutput" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</complexType>

			<element name="submitRequest" type="tns:JobList"/>
			<element name="submitResponse" type="tns:JobIDList"/>
			<element name="getStatusRequest" type="tns:JobIDList"/>
			<element name="getStatusResponse" type="tns:StatusList"/>
			<element name="delJobRequest" type="tns:JobIDList"/>
			<element name="getOutputRequest" type="tns:JobIDList"/>
			<element name="getOutputResponse" type="tns:OutputList"/>

		</schema>
	</types>

	<!-- Message types for "submit" -->
	<message name="submitRequest">
		<part name="jobs" element="tns:submitRequest"/>
	</message>
	<message name="submitResponse">
		<part name="jobids" element="tns:submitResponse"/>
	</message>

	<!-- Message elements for "getStatus" -->
	<message name="getStatusRequest">
		<part name="jobids" element="tns:getStatusRequest"/>
	</message>
	<message name="getStatusResponse">
		<part name="statuses" element="tns:getStatusResponse"/>
	</message>

	<!-- Message elements for "delJob" -->
	<message name="delJobRequest">
		<part name="jobids" element="tns:delJobRequest"/>
	</message>
	<message name="delJobResponse">
	</message>

	<!-- Message elements for "getOutput" -->
	<message name="getOutputRequest">
		<part name="jobids" element="tns:getOutputRequest"/>
	</message>
	<message name="getOutputResponse">
		<part name="outputs" element="tns:getOutputResponse"/>
	</message>

	<portType name="G3BridgePortType">
		<operation name="submit">
			<documentation>Submit jobs to the bridge</documentation>
			<input message="tns:submitRequest"/>
			<output message="tns:submitResponse"/>
		</operation>
		<operation name="getStatus">
			<documentation>Query the status of previously submitted jobs</documentation>
			<input message="tns:getStatusRequest"/>
			<output message="tns:getStatusResponse"/>
		</operation>
		<operation name="delJob">
			<documentation>Cancel running jobs or delete the outputs of finished jobs</documentation>
			<input message="tns:delJobRequest"/>
			<output message="tns:delJobResponse"/>
		</operation>
		<operation name="getOutput">
			<documentation>Get the output URLs for a job</documentation>
			<input message="tns:getOutputRequest"/>
			<output message="tns:getOutputResponse"/>
		</operation>
	</portType>

	<binding name="G3BridgeBinding" type="tns:G3BridgePortType">
		<SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submit">
			<SOAP:operation style="document" soapAction=""/>
			<input>
				<SOAP:body use="literal" namespace="http://www.edges-grid.eu/wsdl/3GBridge.wsdl"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="http://www.edges-grid.eu/wsdl/3GBridge.wsdl"/>
			</output>
		</operation>
		<operation name="getStatus">
			<SOAP:operation style="document" soapAction=""/>
			<input>
				<SOAP:body use="literal" namespace="http://www.edges-grid.eu/wsdl/3GBridge.wsdl"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="http://www.edges-grid.eu/wsdl/3GBridge.wsdl"/>
			</output>
		</operation>
		<operation name="delJob">
			<SOAP:operation style="document" soapAction=""/>
			<input>
				<SOAP:body use="literal" namespace="http://www.edges-grid.eu/wsdl/3GBridge.wsdl"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="http://www.edges-grid.eu/wsdl/3GBridge.wsdl"/>
			</output>
		</operation>
		<operation name="getOutput">
			<SOAP:operation style="document" soapAction=""/>
			<input>
				<SOAP:body use="literal" namespace="http://www.edges-grid.eu/wsdl/3GBridge.wsdl"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="http://www.edges-grid.eu/wsdl/3GBridge.wsdl"/>
			</output>
		</operation>
	</binding>

	<service name="G3BridgeService">
		<documentation>3G Bridge submit service definition</documentation>
		<port name="G3BridgePort" binding="tns:G3BridgeBinding">
			<SOAP:address location="http://localhost:8080"/>
		</port>
	</service>

</definitions>
